body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left, #667eea, #764ba2);
}

.logInbox {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 300px;
    color: white;
}

.logInbox h1 {
    margin-bottom: 30px;
}

.logInbox label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
}

.logInbox input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    box-sizing: border-box;
}

.logInbox button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.logInbox a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logInbox a:hover{
    color: #667eea;
}

.Registerbox {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 300px;
    color: white;
}

.Registerbox h1 {
    margin-bottom: 20px;
}

.Registerbox p {
    margin-bottom: 10px;
    font-size: 14px;
}

.Registerbox label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.Registerbox input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    box-sizing: border-box;
}

.Registerbox button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.Registerbox a {
    color: #667eea;
    
}

header {
    padding: 50px;
    text-align: center;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: relative;
}
nav {
    padding: 30px;
    text-align: center;
    background-color: #444;
    text-decoration: none;
   
}
nav a{
   margin: 0 15px;
   color: white;
   cursor: pointer;
   text-decoration: none;
}
nav a:hover{
    color:#667eea;
    text-decoration: none;
}
.profile{
    width: 300px;
    height: 380px;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid #444;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
section{
    padding: 40px 20px;
}
.Skills{
  background: #3f3c3c00;
  padding: 20px;
  border-left: 4px solid black;
  margin-bottom: 20px;
}

footer{
    padding: 30px;
    background:#444;
    text-align: center;
}
.logOut{
    cursor: pointer;
    padding: 10px;
    background-color: #764ba2;
    border-radius: 10px;
}
.logo {
    width: 80px;
    height: 70px;
    position: absolute;
    left: 30px;
    top: 25%;
}